@model IEnumerable<EmployeeManagementSystem.Models.GalleryImage>

@{
    ViewData["Title"] = "ShowImages";
}

<h2>ShowImages</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
    <div class="col-md-12">
        @*COMMENT: This is where we can check when the page loads if there is any data in ViewData["SuccessMessage"]
            If there is, show the message in bootstraps alert box*@
        @if (ViewData["SuccessMessage"] != null)
        {
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>@ViewData["SuccessMessage"]</strong>
            </div>
        }
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.URL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Caption)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {      <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.URL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Caption)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
                        /**/
       @* <div class="col-md-2">
            <div class="thumbnail">
                <div>
                    @item.URL
                </div>
                <a href="@item.URL" class="thumbnail">
                    <img src="@item.URL" alt="..." width="600">
                </a>
                <div class="caption">
                    @if (item.Caption != null)
                    {
                        <p>@item.Caption</p>
                    }
                    else
                    {
                        <p>No caption available for this image</p>
                    }
                </div>
            </div>
        </div>
           *@
    }
    </tbody>
</table>
